# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build outputs
dist/
build/
.next/
.expo/
.expo-shared/
out/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/dev.db
prisma/*.db

# Docker
docker/postgres/data/
docker/redis/data/

# Testing
coverage/

# Misc
*.tsbuildinfo
